@import "~xp.css/dist/XP.css";

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrap { height: 100vh; }

.window-body,
.tools {
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-body { flex-direction: column; }

.content { padding-top: 40px; }

canvas { background-color: #fff; }

.colors-panel { height: 100px; }

.colors {
  flex-direction: row;
  flex-wrap: wrap;
  width: 330px;
  padding: 0;
}

.color {
  width: 25px;
  height: 25px;
  border: 1px dotted #000;
}

.tools { margin-top: 2rem; }

.edit {
  margin-right: 2rem;
}

.file {
  margin-left: 2rem;
}
